{% extends "base.html"%}
{% block title %} Sign Up {% endblock%}
{% block content %}
<div class="info">
    <h1>Looking For Inspiration</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit nihil ullam nesciunt quidem iste, Repellendus odit nihil</p>
    <button>Button name</button>
  </div>
  <div class="image">
    <img class="main-image" src="https://cdni.iconscout.com/illustration/premium/thumb/businessman-working-using-vr-tech-3840669-3202986.png?f=webp">
  </div>
  {% endblock%}