{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up.css') }}">
<div class="sign_up-container" id="sign_upContainer">
  <div class="sign_up-header">
    <h2>Welcome to <span>MyNotes</span></h2>
    <p>Create account</p>
  </div>
  <div class="sign_up-form">
    <form action="#" method="post">
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input type="email" id="email" name="email"placeholder="Enter email"/>
      </div>
      <div class="input-group">
        <i class="fas fa-user"></i>
        
        <input type="text" id="firstName" name="firstName"placeholder="Enter FirstName"/>
      </div>
      
      <div class="input-group">
        <i class="fas fa-user"></i>
        
        <input type="password" id="password1" name="password1"placeholder="Enter Password"/>
      </div>
      <div class="input-group">
        <i class="fas fa-lock"></i>
        <input type="password" id="password2" name="password2"placeholder="Enter Password"/>
      </div>
      <button type="submit">Sign Up</button>
    </form>
  </div>
  <div class="signup-link">
    Already have an account? <a href="/login">Login</a>
  </div>
</div>
<script
src="{{ url_for('static', filename='js/sign_up.js') }}"
></script>

{% endblock %}
